<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trinity.trinity">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.trinity.trinity.client.notification.KillNotificationService"></service>

        <activity android:name="com.trinity.trinity.client.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.trinity.trinity.client.notification.MusicPlayerNotification$RemoteControlReceiver">
            <intent-filter>
                <action android:name="com.trinity.trinity.media.ACTION_NEXT" />
                <action android:name="com.trinity.trinity.media.ACTION_PLAY" />
                <action android:name="com.trinity.trinity.media.ACTION_STOP" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
